[submodule "ktx2-specification"]
	path = ktx2-specification
	url = https://github.com/KhronosGroup/KTX-Specification.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "experimental/crunch-wip"]
	path = experimental/crunch-wip
	url = https://github.com/richgel999/crunch-1.git
